html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: normal 400 11px/18px Arial, serif;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

nav {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 6px 10px 5px;
    text-align: right;
    background: rgba(240, 240, 240, .9);
    transition: opacity 0.3s;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
}
nav button {
    background: white;
    border: #ccc 1px solid;
    border-radius: 3px;
    padding: 1px 7px 2px;
    cursor: pointer;
}
nav.mouse .start,
nav.mouse .stop {
    display: none !important
}
nav .start {
    background: lightgreen;
}
nav .stop {
    display: none;
}
nav.active .start {
    display: none;
}
nav.active .stop {
    display: inline;
}
nav > *, nav label * {
    vertical-align: top;
}
label {
    margin-right: 10px;
}
